#productList {
  max-width: 1920px;
  margin: 0 50px;
  .title {
    font-size: 28px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    margin-top: 32px;
    margin-bottom: 24px;
  }
  .list {
    margin-bottom: 40px;
    li {
      //height: 420px;
      margin-top: 40px;
      position: relative;
      .listContent {
        height: 100%;
        position: relative;

        img {
          width: 100%;
        }
        //蒙版
        .mask {
          //margin-right: 30px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .5);
          display: flex;
          justify-content: center;
          align-items: center;
          .productInformation {
            color: #fff;
          }
        }
      }
    }
  }
  .list-inline {
    li {
      padding: 0 20px;
    }
  }
  .list:after {
    display: block;
    clear: both;
    visibility: hidden;
    content: '';
  }
}
.secondTitle{
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
}
.look{
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;
}
.lookPC{
  font-size: 16px;
  padding-top: 50px;
  letter-spacing: 2px;
  color: #fff;
}
.lookPC:hover{
  color: #fff;
}
