// 重置样式表
@mixin bos-sizing($sizing){
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin transform($rotate){
  -webkit-transform: $rotate;
  -moz-transform: $rotate;
  transform: $rotate;
}
//设置字体平滑的
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
}
body,html{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust:none !important;
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif !important;
}
body{
  font-size: 0.3rem;
}
input,
select,
textarea,
button{
  font-family:inherit;
  font-size: inherit;
}
input,
select,
textarea,
button,
datalist,
option{
  outline:0;
}
h1,h2,h3,h4,h5,h6{
  font-size: 100%;
  font-weight: normal;
}
a{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  text-decoration: none;
}
a,a:hover,a:link,a:visited,a:active{text-decoration:none!important;}
html,
body,
article,
section,
header,
footer,
nav,
div,
dl,
dt,
dd,
hr,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
th,
td {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-indent: 0;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
table{border-collapse:collapse;border-spacing:0;}
i{
  font-style: normal;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  padding: 0;
}
